html, body {
    margin: 0;
    height: 100%;
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

main {
    height: calc(100% - 51px);
    overflow-y: scroll;
}

#sec {
    background-color: white;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sec ul {
    display: flex;
    list-style: none;
}

.plateform {
    width: 500px;
    height: 450px;
    border: 1px solid rgb(230, 230, 230);
    margin: 20px 100px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.plateform div {
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.java {
    background-image: url(image1.png);
}

.bedrock {
    background-image: url(image2.png);
}

li {
    transition: 0.5s;
}

.plateform:hover {
    width: 700px;
    height: 600px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
}

.bouton {
    color: white;
    background: rgb(0, 161, 255);
    padding: 20px 80px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: none;
    text-transform: uppercase;
    transition: 0.3s;
    margin: 40px 50px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.bouton:hover {
    background: rgb(70, 187, 255);
}

.plateform .bouton {
    transition: 0.7s;
}

.plateform:hover > .bouton {
    margin: 170px 50px;
}

.desc {
    visibility:hidden;
    opacity: 0;
    transition: visibility 0s, opacity 1s linear;
    margin: 50px;
    position: absolute;
    font-size:18px;
    color: rgb(187, 187, 187)
}

.plateform:hover > .desc {
    visibility: visible;
    opacity: 1;
}
